@import '../../assets/scss/vars';
@import '../../styles.scss';

.faq__section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .faq__title-row {
      width: 100%;
      height: auto;
      text-align: center;

      .faq__title-text {
          width: 100%;
          margin-top: 5%;
          font-size: 6vw;
          text-transform: uppercase;
          margin-bottom: 5%;
      }
  }

  .faq__carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    .faq__carousel-image {
      width: 100%;
      height: auto;
      margin-top: -1%;
      position: relative;
      z-index: 2;
    }

    .flex-span {
      width: 100vw;
    }

    .content-container {
      position: relative;
      overflow: auto;
      min-height: 0;
      margin: 0;
      background-color: transparent;
    }

    .horizontal-container {
      height: 485px;
      flex: none !important;
    }

    .swiper-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .swiper-slide {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        color: #582413;
        background-color: #fecf08;

        .swiper-slide--inner {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;

          .faq-link {
            font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
            text-decoration: underline;
          }

          h1 {
            font-size: 3vw;
            text-transform: uppercase;
            margin: 0 10%;
            width: 80%;
            line-height: 1;
          }

          p {
            font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
            font-size: 1.5vw;
            line-height: 1.25;
            margin: 2.5% 10%;
            width: 80%;
          }

          .copywrite-symbol {
            font-size: 1vw;
          }
        }
      }

      .swiper-slide:not(.swiper-slide-active) {
        background-color: transparent;

        .swiper-slide--inner {
          opacity: 0.25;
          background-color: #fecf08;
          width: 80%;
          height: 80%;
          margin-top: 7%;
          margin-left: 10%;
          display: flex;

          h1 {
            font-size: 2vw;
            line-height: 1;
          }

          p {
            font-size: 1.25vw;
          }

          .copywrite-symbol {
            font-size: 0.75vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .faq__section {
    .faq__carousel-container {
      .horizontal-container {
        height: 425px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .faq__section {
    .faq__carousel-container {
      .horizontal-container {
        height: 350px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .faq__section {
    .faq__carousel-container {
      .horizontal-container {
        height: 350px;
      }
      .swiper-container {
        .swiper-slide {
          .swiper-slide--inner {
            h1 {
              font-size: 3vw;
            }

            p {
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .faq__section {
    .faq__carousel-container {
      .horizontal-container {
        height: 250px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .faq__section {
      .faq__title-row {
          .faq__title-text {
              font-size: 12vw;
              line-height: 1;
              width: 80%;
              padding: 0 10%;
          }
      }
      .faq__carousel-container {
        .faq__carousel-image {
          width: 130%;
        }
        .swiper-container {
          .swiper-slide {
            .swiper-slide--inner {
              h1 {
                font-size: 5.5vw;
              }

              p {
                font-size: 2.75vw;
              }

              .copywrite-symbol {
                font-size: 1.5vw;
              }
            }
          }
          .swiper-slide:not(.swiper-slide-active) {
            background-color: transparent;

            .swiper-slide--inner {
              opacity: 1;
              background-color: #fecf08;
              width: 100%;
              height: 100%;
              margin-top: 0%;
              margin-left: 0%;

              h1 {
                font-size: 5vw;
              }

              p {
                font-size: 2.25vw;
              }

              .copywrite-symbol {
                font-size: 1.25vw;
              }
            }
          }
        }
      }
  }
}

@media only screen and (max-width: 449px) {
  .faq__section {
      .faq__title-row {
          .faq__title-text {
              font-size: 46px;
          }
      }
      .faq__carousel-container {
        .swiper-container {
          .swiper-slide {
            .swiper-slide--inner {
              h1 {
                font-size: 26px;
              }

              p {
                font-size: 16px;
              }

              .copywrite-symbol {
                font-size: 8px;
              }
            }
          }
          .swiper-slide:not(.swiper-slide-active) {
            .swiper-slide--inner {
              h1 {
                font-size: 26px;
              }

              p {
                font-size: 16px;
              }
              .copywrite-symbol {
                font-size: 8px;
              }
            }
          }
        }
      }
  }
}
