<div class="faq__section dark-brown-bg">
  <div class="faq__title-row">
      <h3 class="center yellow-fg faq__title-text">faq</h3>
  </div>
  <div class="faq__carousel-container">
    <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
      <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
        <span class="flex-span"></span>
        <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
          <ng-container *ngIf="lang === 'en'">
            <swiper class="swiper-container" fxFlex="auto" [config]="config" *ngIf="!showMobile">
              <div *ngFor="let slide of slides" class="swiper-slide">
                <div class="swiper-slide--inner brown-fg" fxLayout="column" fxLayoutAlign="center center">
                  <h1>{{ slide.title }}</h1>
                  <ng-container *ngIf="!slide.productLink && !slide.text2 && !slide.copywrite">
                    <p>{{ slide.text }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.copywrite">
                    <p>{{ slide.textPre }}<sup class="copywrite-symbol">{{ slide.copywrite }}</sup>&nbsp;{{ slide.textPost }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.productLink">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" (click)="openNoPurchase()">{{ slide.productLink }}</a></span></p>
                  </ng-container>
                  <ng-container *ngIf="slide.text2">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" download [href]="pdfUrl">{{ slide.entriesLink }}</a></span>{{ slide.text2 }}</p>
                  </ng-container>
                </div>
              </div>
            </swiper>
          </ng-container>
          <ng-container *ngIf="lang === 'fr'">
            <swiper class="swiper-container" fxFlex="auto" [config]="config" *ngIf="!showMobile">
              <div *ngFor="let slide of frenchSlides" class="swiper-slide">
                <div class="swiper-slide--inner brown-fg" fxLayout="column" fxLayoutAlign="center center">
                  <h1>{{ slide.title }}</h1>
                  <ng-container *ngIf="!slide.productLink && !slide.text2 && !slide.copywrite">
                    <p>{{ slide.text }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.copywrite">
                    <p>{{ slide.textPre }}<sup class="copywrite-symbol">{{ slide.copywrite }}</sup>&nbsp;{{ slide.textPost }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.productLink">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" (click)="openNoPurchase()">{{ slide.productLink }}</a></span></p>
                  </ng-container>
                  <ng-container *ngIf="slide.text2">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" download [href]="pdfUrl">{{ slide.entriesLink }}</a></span>{{ slide.text2 }}</p>
                  </ng-container>
                </div>
              </div>
            </swiper>
          </ng-container>
          <ng-container *ngIf="lang === 'en'">
            <swiper class="swiper-container" fxFlex="auto" [config]="mobileConfig" *ngIf="showMobile">
              <div *ngFor="let slide of slides" class="swiper-slide">
                <div class="swiper-slide--inner brown-fg" fxLayout="column" fxLayoutAlign="center center">
                  <h1>{{ slide.title }}</h1>
                  <ng-container *ngIf="!slide.productLink && !slide.text2 && !slide.copywrite">
                    <p>{{ slide.text }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.copywrite">
                    <p>{{ slide.textPre }}<sup class="copywrite-symbol">{{ slide.copywrite }}</sup>&nbsp;{{ slide.textPost }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.productLink">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" (click)="openNoPurchase()">{{ slide.productLink }}</a></span></p>
                  </ng-container>
                  <ng-container *ngIf="slide.text2">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" download [href]="pdfUrl">{{ slide.entriesLink }}</a></span>{{ slide.text2 }}</p>
                  </ng-container>
                </div>
              </div>
            </swiper>
          </ng-container>
          <ng-container *ngIf="lang === 'fr'">
            <swiper class="swiper-container" fxFlex="auto" [config]="mobileConfig" *ngIf="showMobile">
              <div *ngFor="let slide of frenchSlides" class="swiper-slide">
                <div class="swiper-slide--inner brown-fg" fxLayout="column" fxLayoutAlign="center center">
                  <h1>{{ slide.title }}</h1>
                  <ng-container *ngIf="!slide.productLink && !slide.text2 && !slide.copywrite">
                    <p>{{ slide.text }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.copywrite">
                    <p>{{ slide.textPre }}<sup class="copywrite-symbol">{{ slide.copywrite }}</sup>&nbsp;{{ slide.textPost }}</p>
                  </ng-container>
                  <ng-container *ngIf="slide.productLink">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" (click)="openNoPurchase()">{{ slide.productLink }}</a></span></p>
                  </ng-container>
                  <ng-container *ngIf="slide.text2">
                    <p>{{ slide.text }}<span><a class="faq-link dark-brown-fg" download [href]="pdfUrl">{{ slide.entriesLink }}</a></span>{{ slide.text2 }}</p>
                  </ng-container>
                </div>
              </div>
            </swiper>
          </ng-container>
        </div>
      </div>
    </div>
    <img class="faq__carousel-image" alt="Product Image Set" src="./assets/img/faq-banner.png"/>
  </div>
</div>
