<div class="section yellow-bg">
  <img alt="Mars Wrigley" src="/assets/img/text-logo.png"/>
  <div class="row">
    <p class="dark-brown-fg disclaimer-text">{{ 'FOOTER.TEXT1' | translate }}</p>
  </div>
  <p class="copywrite-text dark-brown-fg">
    <a [href]="privacyUrl" target="_blank">{{ 'FOOTER.TEXT2' | translate }}</a>
  </p>
  <p class="copywrite-text dark-brown-fg">{{ 'FOOTER.TEXT3' | translate }}</p>
</div>
