@import '../../assets/scss/vars';
@import '../../styles.scss';

.section {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5% 5% 5%;

    img {
        margin: 5% 0 3.5% 0;
        width: 350px;
    }

    .row {
        margin: 0;

        .disclaimer-text {
            font-family: 'DINPro-Medium';
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 10px;
        }
    }

    .copywrite-text {
        font-size: 24px;
        margin: 10px 0;
        font-family: 'DINPro-Medium';
        
        &:first-of-type {
            text-transform: uppercase;
        }

        a {
            font-family: 'DINPro-Medium';
            text-decoration: none;
            color: #582413 !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .section {
        img {
            margin-top: 15%;
        }
    }
}

@media only screen and (max-width: 449px) {
    .section {
        img {
            width: 200px;
            margin-top: 10%;
            margin-bottom: 0;
        }
        .copywrite-text {
            font-size: 16px;
        }
        .row {
            .disclaimer-text {
                font-size: 14px;
            }
        }
    }
}
