<div id="cta" class="cta__section yellow-bg">
    <div class="cta__language-container">
        <a class="language-button dark-brown-fg" #english (click)="setLang('en')">EN</a>
        <a class="language-button dark-brown-fg" #french (click)="setLang('fr')">FR</a>
    </div>
    <div class="cta__image-container">
        <img class="cta__image" alt="Red And Yellow Heroes" src="./assets/img/red-yellow.png"/>
        <!-- <img class="cta__image full-image" alt="Red And Yellow Heroes" src="./assets/img/red-yellow-full.png"/> -->
    </div>
    <div class="cta__text-container">
        <h1 class="cta__h1 dark-brown-fg" *ngIf="lang === 'en'">{{ 'CTA.TITLE1' | translate }}</h1>
        <h1 class="cta__h1 dark-brown-fg" *ngIf="lang === 'en'">{{ 'CTA.TITLE2' | translate }}</h1>
        <h1 class="cta__h1-french dark-brown-fg" *ngIf="lang === 'fr'">{{ 'CTA.TITLE1' | translate }}</h1>
        <h1 class="cta__h1-french dark-brown-fg" *ngIf="lang === 'fr'">{{ 'CTA.TITLE2' | translate }}</h1>
        <button class="cta__auth-button" *ngIf="!signedIn" (click)="toggleSignupModal()">{{ 'CTA.SIGNUPLINK' | translate }}</button>
        <button class="cta__auth-button" *ngIf="signedIn" (click)="signOut()">{{ 'CTA.BUTTON2' | translate }}</button>
        <br/>
        <button class="cta__auth-button" *ngIf="signedIn" (click)="openProfile()">{{ 'HOWITWORKS.UPLOADBUTTON' | translate }}</button>
        <p *ngIf="!signedIn" class="cta__p">{{ 'MODAL.ALREADYACCOUNT' | translate }}<a class="cta__link" (click)="toggleLoginModal()">{{ 'CTA.BUTTON1' | translate }}</a></p>
        <!-- <p class="cta__p bottom">{{ 'CTA.NOPURCHASE1' | translate }}&nbsp;<a class="cta__link bottom" (click)="toggleNoPurchase()">{{ 'CTA.SIGNUPLINK' | translate }}</a>&nbsp;{{ 'CTA.NOPURCHASE2' | translate }}</p> -->
    </div>
</div>
