@import '../../assets/scss/vars';
@import '../../styles.scss';

.cta__section {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .cta__language-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        position: absolute;
        top: 2.5%;
        right: 5%;
        z-index: 2;

        .language-button {
            background-color: transparent;
            font-size: 28px;
            border: none;
            font-family: 'DINPro-Semibold', Arial, Helvetica, sans-serif;
            margin: 0 5px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: white;
            }

            &.selected {
                font-family: 'DINPro-Bold', Arial, Helvetica, sans-serif;
                text-decoration: underline;
            }
        }
    }

    .cta__image-container {
        width: 50%;
        height: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cta__image {
            width: 80%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;

            // &.full-image {
            //     display: none;
            // }
        }
    }

    .cta__text-container {
        width: 50%;
        height: 100%;
        margin-bottom: 5%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cta__h1 {
            font-size: 11vw;
            line-height: 0.85;
            text-transform: uppercase;

            &:first-of-type {
                font-size: 12vw;
                margin: 0;
            }

            &:last-of-type {
                margin-top: 0;
                margin-bottom: 7.5%;
            }
        }

        .cta__h1-french {
            font-size: 8.5vw;
            line-height: 0.85;
            text-transform: uppercase;

            &:first-of-type {
                font-size: 7.75vw;
                margin: 0;
            }

            &:last-of-type {
                margin-top: 0;
                margin-bottom: 7.5%;
            }
        }

        .cta__auth-button {
            cursor: pointer;
            width: 72.5%;
            height: 5vw;
            background-color: transparent;
            border: 3px solid #582413;
            font-size: 2.25vw;
            color: #582413;;
            text-transform: uppercase;

            &:hover {
                background-color: #582413;
                color: white;
            }
        }

        .cta__p, .cta__link {
            font-size: 1.75vw;
            color: #582413 !important;
            margin-top: 2.5%;

            &.bottom {
                margin-top: -10px;
                font-size: 1.25vw;
            }
        }

        .cta__link {
            cursor: pointer;
        }

    }
}

//--> OVERSIZED IMAGE
@media only screen and (max-width: 1599px) {
    .cta__section {
        height: 800px;
    }
}

@media only screen and (max-width: 1499px) {
    .cta__section {
        .cta__image-container {
            .cta__image {
                width: 90%;
            }
        }
    }
}

//--> SECTION PROPORTIONS
@media only screen and (max-width: 1300px) {
    .cta__section {
        height: 750px;
    }
}

@media only screen and (max-width: 1100px) {
    .cta__section {
        height: 650px;
    }
}

@media only screen and (max-width: 950px) {
    .cta__section {
        height: 550px;
    }
}

@media only screen and (max-width: 900px) {
    .cta__section {
        height: 500px;
    }
}

//--> MOBILE <--//
@media only screen and (max-width: 767px) {
    .cta__section {
        min-height: 100%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: flex-end;

        .cta__text-container {
            width: 100%;

            .cta__h1 {
                &:first-of-type {
                    margin-top: 15%;
                    font-size: 25vw;
                }

                &:nth-of-type(2) {
                    font-size: 22.5vw;
                    margin-bottom: 2.5%;
                }
            }

            .cta__h1-french {
                &:first-of-type {
                    margin-top: 17.5%;
                    font-size: 15.35vw;
                }

                &:nth-of-type(2) {
                    font-size: 16.8vw;
                    margin-bottom: 2.5%;
                }
            }

            .cta__p, .cta__link {
                font-size: 3vw;

                &.bottom {
                    font-size: 2.5vw;
                }
            }

            .cta__auth-button {
                height: 8vw;
                font-size: 4vw;
            }
        }

        .cta__image-container {
            width: 100%;

            .cta__image {
                width: 100%;
                position: relative;

            }
        }
    }
}

@media only screen and (max-width: 449px) {
    .cta__section {
        .cta__text-container {
            .cta__h1 {
                &:first-of-type {
                    margin-top: 20%;
                    font-size: 91px;
                }

                &:nth-of-type(2) {
                    font-size: 83px;
                }
            }

            .cta__h1-french {
                &:first-of-type {
                    margin-top: 20%;
                    font-size: 58px;
                }

                &:nth-of-type(2) {
                    font-size: 63px;
                }
            }

            .cta__p, .cta__link {
                font-size: 15px;

                &.bottom {
                    font-size: 12px;
                }
            }

            .cta__auth-button {
                width: 273px;
                height: 50px;
                font-size: 24px;
            }
        }

        .cta__image-container {
            width: 100%;

            .cta__image {
                position: relative;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 399px) {
    .cta__section {
        .cta__text-container {
            .cta__p, .cta__link {
                font-size: 11px;

                &.bottom {
                    font-size: 9px;
                }
            }
        }
    }
}
