<div id="upload" class="section light-brown-bg">
  <div class="fade-up row">
      <div>
          <h1 i18n="UPLOAD@@upload">UPLOAD</h1>
          <h1 class="yellow-fg" i18n="YOUR RECEIPT@@yourReceipt">YOUR RECEIPT</h1>
          <h1 class="yellow-fg" i18n="& GET@@get"> & GET</h1>
          <h1 i18n="REWARDED@@rewarded">REWARDED</h1>
          <ng-container *ngIf="signedIn">
            <input type="file" id="receipt" [disabled]="isUploading" name="receipt" (change)="chooseFiles($event)"/>
            <label  class="upload-button" for="receipt" i18n="SELECT A FILE@@selectAFile">SELECT A FILE (MAX 20 MB)</label>
          </ng-container>
          <ng-container *ngIf="!signedIn">
            <a href="#zero">
              <button class="button" i18n="SIGN IN TO GET STARTED@@signInToGetStarted">SIGN IN TO GET STARTED</button>
            </a>
          </ng-container>

          <p *ngIf="!signedIn" i18n="No money? enter without purchasing!@@enterWithoutPurchase">
              No money? <a (click)="toggle()" style="cursor: pointer;">Click here</a> to enter without purchasing!
          </p>
          <!-- <button class="upload-button">UPLOAD NOW</button> -->
      </div>
      <div class="fade-up" data-aos-offset="-1200">
          <img class="snickers-clock" src="/assets/img/snickers-clock.png" alt="Snickers Clock">
      </div>
  </div>
</div>
