<div id="rls" class="section yellow-bg">
  <div class="fade-up row" data-aos-offset="-1300">
    <h3 class="center dark-brown-fg section-title">{{ 'RULES.TITLE' | translate }}</h3>
  </div>
  <div class="rules-text">
    <p class="dark-brown-fg max-width-text">{{ 'RULES.RULES1' | translate }}&nbsp;{{ 'RULES.RULES2' | translate }}&nbsp;{{ 'RULES.RULES3' | translate }}</p>
  </div>
</div>
<div id="rlslg" class="section dark-brown-bg">
  <div class="row">
    <div id="img-container" class="inner-column">
      <img class="oversize-img" alt="Orange and Yellow Candies" src="./assets/img/orange-yellow.png"/>
    </div>
    <div class="inner-column">
      <a class="download-link fade up" download [href]="pdfUrl" data-aos-offset="-1500">
        <h3 class="download-text dark-brown-fg white-block">{{ 'RULES.CLICK1' | translate }}</h3>
      </a>
      <h3 class="download-text yellow-fg">{{ 'RULES.CLICK2' | translate }}</h3>
      <h3 class="download-text yellow-fg bottom-margin">{{ 'RULES.CLICK3' | translate }}</h3>
    </div>
  </div>
</div>
