@import '../../assets/scss/vars';
@import '../../styles.scss';


.section {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 90%;
    height: 100%;
    padding: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.center-row {
    align-items: center;
}

.rules-text {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.row.three > div {
    width: 28%;
    height: 100%;
}

.inner-column {
    width: 50%;
    height: 470px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:first-of-type {
        align-items: flex-start;

        img {
            width: 100%;
            height: auto;
        }
    }

    &:nth-of-type(2) {
        width: 40%;
        padding: 0 5%;
        align-items: flex-start;
    }
}

.center {
    text-align: center;
}

#rls > div {
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50px;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 6vw;
    color: #582413;
    text-transform: uppercase;
    margin: 5% 0;
}

.download-link {
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin-top: 15%;

    &:hover {
        background-color: #fecf08;

        .download-text {
            color: white;
        }
    }
}

.download-text {
    text-align: left;
    font-size: 4vw;
    margin: 0;
    text-transform: uppercase;
}

.bottom-margin {
    margin-bottom: 15%;
}

.max-width-text {
    font-family: 'DINPro-Medium', Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.35;
    max-width: 80vw;
    margin-bottom: 7.5%;
}

.copywrite-symbol {
    font-size: 12px;
  }

@media only screen and (max-width: 767px) {

    #rlslg > div {
      flex-direction: column-reverse;
    }


    .oversize-img {
      margin-top: 0% !important;
    }

    .max-width-text {
        max-width: 90%;
        font-size: 20px;
    }

    .copywrite-symbol {
        font-size: 10px;
      }

    .row {
        margin: 0;
    }

    .section-title {
        font-size: 12vw;
    }

    .inner-column {
        width: 100%;
        height: 355px;

        .download-text {
            font-size: 55px;
        }

        img {
            margin-top: 15% !important;
        }

        &:nth-of-type(2) {
            width: 100%;
        }

        .download-text {
            font-size: 12vw;
        }
    }

    .rules-text {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 449px) {
    .section-title {
        font-size: 46px;
    }

    .inner-column {
        .download-text {
            font-size: 46px;
        }
    }

    .max-width-text {
        font-size: 10px;
    }

    .copywrite-symbol {
        font-size: 5px;
      }

    .rules-text {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
