<div class="ready__section dark-brown-bg">
    <div class="fade-up ready__title-row">
        <h3 *ngIf="lang === 'en'" class="center yellow-fg ready__title-text">{{ 'READY2PLAY.TITLE1' | translate }}<span class="white">{{ 'READY2PLAY.TITLE2' | translate }}</span></h3>
        <h3 *ngIf="lang === 'fr'" class="center yellow-fg ready__title-text french">{{ 'READY2PLAY.TITLE1' | translate }}<span class="white">{{ 'READY2PLAY.TITLE2' | translate }}</span></h3>
    </div>
    <div class="ready__body-container">
        <div class="fade-up ready__inner-row">
            <img class="side-character left-side" alt="Green Candy" src="./assets/img/green-character.png"/>
            <div class="ready__flag dark-brown-bg yellow-border">
                <h4 *ngIf="lang === 'en'" class="ready__small-banner yellow-bg dark-brown-fg">{{ 'READY2PLAY.LEFTTOP' | translate }}&nbsp;{{ 'READY2PLAY.LEFTLINK' | translate }}</h4>
                <h1 *ngIf="lang === 'en'" class="ready__money-banner yellow-fg">{{ 'READY2PLAY.LEFTMONEY' | translate }}</h1>
                <h4 *ngIf="lang === 'en'" class="ready__small-banner yellow-bg dark-brown-fg">{{ 'READY2PLAY.LEFTBOTTOM' | translate }}</h4>
                <h4 *ngIf="lang === 'fr'" class="ready__small-banner bottom-margin yellow-bg dark-brown-fg">{{ 'READY2PLAY.LEFTTOP' | translate }}&nbsp;{{ 'READY2PLAY.LEFTLINK' | translate }}</h4>
                <h4 *ngIf="lang === 'fr'" class="ready__small-banner yellow-bg dark-brown-fg">{{ 'READY2PLAY.LEFTBOTTOM' | translate }}</h4>
                <h1 *ngIf="lang === 'fr'" class="ready__money-banner french-margin yellow-fg">{{ 'READY2PLAY.LEFTMONEY' | translate }}</h1>
            </div>
        </div>
        <div class="fade-up ready__inner-row">
            <div class="ready__flag dark-brown-bg">
                <h4 *ngIf="lang === 'en'" class="ready__small-banner white-bg dark-brown-fg">{{ 'READY2PLAY.RIGHTTOP' | translate }}&nbsp;{{ 'READY2PLAY.RIGHTLINK' | translate }}</h4>
                <h1 *ngIf="lang === 'en'" class="ready__money-banner white-fg dark-brown-bg">{{ 'READY2PLAY.RIGHTMONEY' | translate }}</h1>
                <h4 *ngIf="lang === 'en'" class="ready__small-banner white-bg dark-brown-fg">{{ 'READY2PLAY.RIGHTBOTTOM' | translate }}</h4>
                <h4 *ngIf="lang === 'fr'" class="ready__small-banner bottom-margin white-bg dark-brown-fg">{{ 'READY2PLAY.RIGHTTOP' | translate }}</h4>
                <h4 *ngIf="lang === 'fr'" class="ready__small-banner white-bg dark-brown-fg">{{ 'READY2PLAY.RIGHTBOTTOM' | translate }}&nbsp;{{ 'READY2PLAY.RIGHTLINK' | translate }} DE</h4>
                <h1 *ngIf="lang === 'fr'" class="ready__money-banner white-fg dark-brown-bg">{{ 'READY2PLAY.RIGHTMONEY' | translate }}</h1>
            </div>
            <img class="side-character right-side" alt="Blue Candy" src="./assets/img/blue-character.png"/>
        </div>
    </div>
</div>
