@import '../../assets/scss/vars';
@import '../../styles.scss';

.ready__section {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .ready__title-row {
        width: 100%;
        height: auto;
        text-align: center;

        .ready__title-text {
            width: 100%;
            margin-top: 5%;
            font-size: 6vw;
            text-transform: uppercase;
            margin-bottom: 5%;

            &.french {
                font-size: 5vw;
            }
        }

        .white {
            color: white;
        }
    }

    .ready__body-container {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

        .ready__inner-row {
            padding: 2.5%;
            width: 100%;
            height: 850px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            overflow: hidden;

            &:first-of-type {
                justify-content: flex-end;
            }

            .side-character {
                width: 60%;
                height: auto;
                position: absolute;
                top: 0;
                left: -10%;
            }

            .left-side {
                width: 110%;
            }

            .right-side {
                left: unset;
                right: -10%;
                top: 5%;
            }

            .ready__flag {
                width: 65%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: 10px solid white;

                .ready__money-banner {
                    width: 100%;
                    margin: 0 0 2.5% 0;
                    text-align: center;
                    font-size: 10vw;
                }

                .ready__small-banner {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    font-size: 2.25vw;
                    padding: 2.5% 0%;
                    text-transform: uppercase;

                    a {
                        cursor: pointer;
                        font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
                        color: #582413;
                        position: relative;
                        z-index: 2;
                    }
                }

                .bottom-margin {
                    margin-bottom: 10px;
                }

                .french-margin {
                    margin: 1.75vw 0;
                }
            }

            .yellow-border {
                border: 10px solid #fecf08;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 650px;
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 575px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 475px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 400px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .ready__section {

        .ready__title-row {
            .ready__title-text {
                font-size: 11vw;
                line-height: 1;
                width: 80%;
                padding: 0 10%;

                &.french {
                    font-size: 9vw;
                }
            }
        }

        .ready__body-container {
            flex-direction: column;

            .ready__inner-row {
                width: 80%;
                padding: 10%;
                height: 600px;

                .ready__flag {
                    .ready__money-banner {
                        font-size: 17vw;
                    }
                    .ready__small-banner {
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 470px;
            }
        }
    }
}

@media only screen and (max-width: 449px) {
    .ready__section {
        .ready__title-row {
            .ready__title-text {
                font-size: 46px;

                &.french {
                    font-size: 40px;
                }
            }
        }
        .ready__body-container {
            .ready__inner-row {
                height: 375px;

                .ready__flag {
                    border-width: 5px;

                    .ready__small-banner {
                        font-size: 18px;
                        padding-bottom: 5px;

                        &:last-of-type {
                            padding-top: 5px;
                            // padding-bottom: 0;
                        }
                    }

                    .ready__money-banner {
                        font-size: 55px;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .ready__section {
        .ready__body-container {
            .ready__inner-row {
                height: 310px;

                .ready__flag {
                    .ready__small-banner {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}
