<app-modal [id]="'locale'">
    <div class="logo-div">
      <img class="logo" src="/assets/img/snickers-horiz.png"/>
    </div>
  
    <div>
        <p class="text">{{ message }}</p>
        <div class="button-container">
            <button (click)="switchLocale()">Switch {{ toText }}</button>
            <button (click)="toggle()">Continue</button>
        </div>
    </div>
  </app-modal>
  