.button-container {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-container > button {
    width: 100%;
}

.text {
    color: var(--bg-light-brown);
    text-align: center;
    font-size: 2.5rem;
}