<app-modal [id]="'login'">

  <div class="logo-div">
    <img class="logo" src="/assets/img/mms-logo-new.png"/>
  </div>

  <ng-container *ngIf="!signup">
    <form [formGroup]="loginForm" (ngSubmit)="subForm()" class="form-container">
      <input class="input" type="text" formControlName="email" placeholder="{{ 'MODAL.EMAIL' | translate }}"/>
      <div class="error-text" *ngIf="!!lgF.email.touched && !!lgF.email.errors?.required">{{ 'MODAL.EMAILREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!lgF.email.dirty && !!lgF.email.invalid">{{ 'MODAL.EMAILINVALID' | translate }}</div>
      <input class="input" type="password" formControlName="password" placeholder="{{ 'MODAL.PASSWORD' | translate }}"/>
      <div class="error-text" *ngIf="!!lgF.password.touched && !!lgF.password.errors?.required">{{ 'MODAL.PWORDREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!lgF.password.dirty && !!lgF.password.invalid">{{ 'MODAL.PASSWORDINVALID' | translate }}</div>
    </form>
  </ng-container>

  <ng-container *ngIf="signup">
    <form [formGroup]="signupForm" (ngSubmit)="subForm()" class="form-container">

      <input class="input" type="text" formControlName="firstName" placeholder="{{ 'MODAL.FNAME' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.firstName.touched && !!suF.firstName.errors?.required">{{ 'MODAL.FNAMEREQUIRE' | translate }}</div>

      <input class="input" type="text" formControlName="lastName" placeholder="{{ 'MODAL.LNAME' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.lastName.touched && !!suF.lastName.errors?.required">{{ 'MODAL.LNAMEREQUIRE' | translate }}</div>

      <input class="input" type="text" formControlName="age" placeholder="{{ 'MODAL.AGE' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.age.touched && !!suF.age.errors?.required">{{ 'MODAL.AGEREQUIRE' | translate }}</div>

      <input class="input" type="text" formControlName="telephone" placeholder="{{ 'MODAL.PHONE' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.telephone.touched && !!suF.telephone.errors?.required">{{ 'MODAL.PHONEREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.telephone.dirty && !!suF.telephone.invalid">{{ 'MODAL.PHONEINVALID' | translate }}</div>

      <input class="input" type="text" formControlName="address" placeholder="{{ 'MODAL.ADDRESS' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.address.touched && !!suF.address.errors?.required">{{ 'MODAL.ADDRESSREQUIRE' | translate }}</div>

      <input class="input" type="text" formControlName="city" placeholder="{{ 'MODAL.CITY' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.city.touched && !!suF.city.errors?.required">{{ 'MODAL.CITYREQUIRE' | translate }}</div>

      <select id="provinceSelectorLogin" class="select-fc" (change)="provinceChange()" formControlName="province">
        <option value="" data-default selected disabled>{{ 'MODAL.PROVINCE' | translate }}</option>
        <option value="AB">AB</option>
        <option value="BC">BC</option>
        <option value="MB">MB</option>
        <option value="NB">NB</option>
        <option value="NL">NL</option>
        <option value="NS">NS</option>
        <option value="ON">ON</option>
        <option value="PE">PE</option>
        <option value="QC">QC</option>
        <option value="SK">SK</option>
        <option value="NT">NT</option>
        <option value="NU">NU</option>
        <option value="YT">YT</option>
      </select>

      <div class="error-text" *ngIf="!!suF.province.touched && !!suF.province.errors?.required">{{ 'MODAL.PROVINCEREQUIRE' | translate }}</div>

      <input class="input postal" type="text" formControlName="postalCode" placeholder="{{ 'MODAL.POSTAL' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.postalCode.touched && !!suF.postalCode.errors?.required">{{ 'MODAL.POSTALREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.postalCode.dirty && !!suF.postalCode.invalid">{{ 'MODAL.POSTALINVALID' | translate }}</div>

      <input class="input" type="text" formControlName="email" placeholder="{{ 'MODAL.EMAIL' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.email.touched && !!suF.email.errors?.required">{{ 'MODAL.EMAILREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.email.dirty && !!suF.email.invalid">{{ 'MODAL.EMAILINVALID' | translate }}</div>

      <input class="input" type="text" formControlName="confirmEmail" placeholder="{{ 'MODAL.CONFIRMEMAIL' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.confirmEmail.touched && !!suF.confirmEmail.errors?.required">{{ 'MODAL.CONFIRMEMAILREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.confirmEmail.dirty && !!suF.confirmEmail.invalid">{{ 'MODAL.CONFIRMEMAILINVALID' | translate }}</div>

      <input class="input" type="password" formControlName="password" placeholder="{{ 'MODAL.PASSWORD' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.password.touched && !!suF.password.errors?.required">{{ 'MODAL.PWORDREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.password.dirty && !!suF.password.invalid">{{ 'MODAL.PASSWORDINVALID' | translate }}</div>

      <input class="input" type="password" formControlName="confirmPassword" placeholder="{{ 'MODAL.CONFIRMPASSWORD' | translate }}"/>
      <div class="error-text" *ngIf="!!suF.confirmPassword.touched && !!suF.confirmPassword.errors?.required">{{ 'MODAL.CONFIRMPASSWORDREQUIRE' | translate }}</div>
      <div class="error-text" *ngIf="!!suF.confirmPassword.dirty && !!suF.confirmPassword.invalid">{{ 'MODAL.CONFIRMPASSWORDINVALID' | translate }}</div>

      <div class="check-div">
        <input type="checkbox" class="form-check-input" id="rules" formControlName="rules">
        <label *ngIf="english" class="form-check-label" for="rules">{{ 'MODAL.ACCEPT1' | translate }}<a href="{{ 'MODAL.ACCEPTLINKURL' | translate }}" target="_blank" class="underline">{{ 'MODAL.ACCEPTLINK' | translate }}</a>{{ 'MODAL.ACCEPT2' | translate }}</label>
        <br/><br/>
        <label *ngIf="english" class="form-check-label"><a href="https://www.mars.com/privacy" target="_blank" class="underline">{{ 'MODAL.PRIVLINK' | translate }}</a></label>
        <label *ngIf="!english" class="form-check-label"><a href="https://www.mars.com/privacy-policy-france" target="_blank" class="underline">{{ 'MODAL.PRIVLINK' | translate }}</a></label>

      </div>

    </form>
  </ng-container>

  <div class="footer">
    <button [ngClass]="{ btndisabled: loginForm.invalid }" style="width: 100%" *ngIf="!signup"
      (click)="subForm()" [disabled]="loginForm.invalid || isSubmittingForm">{{ 'MODAL.LOGIN' | translate }}</button>

    <button [ngClass]="{ btndisabled: signupForm.invalid }" style="width: 100%" *ngIf="signup"
      (click)="subForm()" [disabled]="signupForm.invalid || isSubmittingForm">{{ 'MODAL.SIGNUP2' | translate }}</button>

    <div class="sign-up-container" *ngIf="!signup">
      <span class="txt1">{{ 'MODAL.NOACCOUNT' | translate }}&nbsp;</span>
      <a (click)="OpenSignUp()" class="txt2" href="#">{{ 'MODAL.SIGNUP' | translate }}</a>
    </div>
    <div class="sign-up-container" *ngIf="signup">
      <span class="txt1">{{ 'MODAL.ALREADYACCOUNT' | translate }}&nbsp;</span>
      <a (click)="OpenSignIn()" class="txt2" href="#">{{ 'MODAL.SIGNIN' | translate }}</a>
    </div>
  </div>
</app-modal>
