<div class="section yellow-bg">
  <div class="fade-up row">
      <h3 class="center dark-brown-fg section-title">{{ 'HOWITWORKS.TITLE' | translate }}</h3>
  </div>
  <div class="row three icon-feature-container">
      <div class="fade-up icon-feature">
          <div class="clock-icon"></div>
          <h3 class="block-outline dark-brown-bg">{{ 'HOWITWORKS.PURCHASEBUTTON' | translate }}</h3>
          <h4 class="center dark-brown-fg feature-subtitle">{{ 'HOWITWORKS.PURCHASE1' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'HOWITWORKS.PURCHASE2' | translate }}</h4>
      </div>
      <div class="fade-up icon-feature">
        <div class="upload-icon"></div>
        <!-- <a href="#cta" *ngIf="!signedIn" class="signup-anchor">
          <h3 class="block-outline dark-brown-bg pointer">{{ 'HOWITWORKS.UPLOADBUTTON' | translate }}</h3>
        </a> -->
        <h3 class="block-outline dark-brown-bg" *ngIf="!signedIn">{{ 'HOWITWORKS.UPLOADBUTTON' | translate }}</h3>
        <h3 class="block-outline dark-brown-bg pointer" (click)="openProfile()" *ngIf="signedIn">{{ 'HOWITWORKS.UPLOADBUTTON' | translate }}</h3>
        <h4 class="center dark-brown-fg feature-subtitle">{{ 'HOWITWORKS.UPLOAD1' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'HOWITWORKS.UPLOAD2' | translate }}</h4>
      </div>
      <div class="fade-up icon-feature">
          <div class="gift-icon"></div>
          <h3 class="block-outline dark-brown-bg">{{ 'HOWITWORKS.PRIZEBUTTON' | translate }}</h3>
          <h4 class="center dark-brown-fg feature-subtitle">{{ 'HOWITWORKS.PRIZE' | translate }}</h4>
      </div>
  </div>
</div>
