@import '../../assets/scss/vars';
@import '../../styles.scss';

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 90%;
    padding: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.row.three > div {
    width: 28%;
}

.center {
    text-align: center;
}

.section-title {
    width: 100%;
    margin-top: 5%;
    font-size: 6vw;
    color: #582413;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.icon-feature-container {
    align-items: flex-start;
}

.icon-feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2.5%;
}

.icon-feature > div {
    width: 15vw;
    height: 15vw;
    background-color: #582413;
    border-radius: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.icon-feature > a div {
    width: 15vw;
    height: 15vw;
    background-color: #582413;
    border-radius: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.upload-icon {
    background-image: url("/assets/img/upload.png");
    cursor: pointer;
}

.clock-icon {
    background-image: url("/assets/img/cart.png");
}

.gift-icon {
    background-image: url("/assets/img/gift.png");
}

.block-outline {
    width: 100%;
    padding: 2.5%;
    margin: 10% 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    border: 3px solid #582413;
}

.signup-anchor {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-subtitle {
    font-size: 2.75vw;
    text-align: center;
    margin-top: 10%;
    line-height: 1.1;
    text-transform: uppercase;
}

.copywrite-symbol {
    font-size: 1.5vw;
}

.pointer {
    cursor: pointer;

    &:hover {
        border: 3px solid #582413;
        background-color: #fecf08;
        color: #582413;
    }
}

@media only screen and (max-width: 767px) {
    .row.three > div {
        width: 90%;
    }

    .section-title {
        font-size: 12vw;
    }

    .icon-feature > div {
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
    }

    .icon-feature > a > div {
        width: 40vw;
        height: 40vw;
        border-radius: 40vw;
    }

    .block-outline {
        width: 75%;
        font-size: 6vw;
    }

    .feature-subtitle {
        font-size: 6vw;
        margin-bottom: 25%;
    }

    .copywrite-symbol {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 449px) {
    .section-title {
        font-size: 46px;
        margin-top: 2.5%;
    }

    .icon-feature > div {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .icon-feature > a > div {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }

    .block-outline {
        width: 55%;
        font-size: 26px;
        padding-top: 9px;
    }

    .feature-subtitle {
        font-size: 24px;
        margin-bottom: 25%;
    }

    .copywrite-symbol {
        font-size: 14px;
    }
}
