<div id="page" class="page">
  <app-toasts></app-toasts>
  <!--<app-switch-language-modal></app-switch-language-modal>-->
  <!-- <app-login-modal></app-login-modal> -->
  <app-no-purchase-form-modal></app-no-purchase-form-modal>
  <app-login-modal></app-login-modal>
  <app-call-to-action (uploadClick)="uploadClickEvent($event)" (changeLang)="changeLangEvent($event)"></app-call-to-action>
  <app-profile [didClick]="didClick"></app-profile>
  <app-products [didProductsClick]="didProductsClick"></app-products>
  <app-ready-to-play [didChangeLang]="didChangeLang"></app-ready-to-play>
  <app-how-it-works (uploadClick)="uploadClickEvent($event)"></app-how-it-works>
  <!-- <app-receipt-upload></app-receipt-upload>-->
  <app-faq [didChangeLang]="didChangeLang" (openProducts)="openProductsEvent($event)"></app-faq>
  <app-rules [didChangeLang]="didChangeLang"></app-rules>
  <app-footer [didChangeLang]="didChangeLang"></app-footer>
</div>
