@import '../../assets/scss/vars';
@import '../../styles.scss';

.products-underlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .close-button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        font-size: 30px;
        font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
        background: white;
        cursor: pointer;
    }

    #products {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 65%;
        min-width: 250px;
        height: 100%;
        max-height: 90vh;
        position: fixed;
        z-index: 99;
        top: 5%;
        padding: 0 20px;
        border: 2px solid white;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        overflow-y: auto;

        .products-title {
            text-align: center;
            margin: 5% 0;
            margin-top: 125px;
            font-size: 46px;
            line-height: 1.25;
        }

        .products-text {
            margin-bottom: 8px;
            margin: 1.5% 0;
            font-size: 18px;
        }

        .item-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: auto;

            .inner-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
            }
        }

        .white-line {
            border: 2px solid white;
            width: 80%;
            margin: 25px auto;
        }

        // .products-container {
        //     width: 100%;
        //     height: 100%;
        //     margin: 10px;
        //     overflow-y: auto;

        //     .products-title {
        //         text-align: center;
        //         margin: 5% 0;
        //     }

        //     .products-text {
        //         margin-bottom: 8px;
        //         margin: 1.5% 0;
        //     }

        //     .item-container {
        //         display: flex;
        //         flex-direction: column;
        //         align-items: flex-start;
        //         justify-content: flex-start;
        //         width: 100%;
        //         height: auto;

        //         .inner-row {
        //             display: flex;
        //             flex-direction: row;
        //             align-items: center;
        //             justify-content: space-between;
        //             flex-wrap: wrap;
        //             width: 100%;
        //             height: 100%;
        //         }
        //     }

        //     .white-line {
        //         border: 2px solid white;
        //         width: 80%;
        //         margin: 25px auto;
        //     }
        // }
    }

    #products > * {
        text-align: center;
    }
}

.fade-in {
    animation: fadeIn ease 0.35s;
    -webkit-animation: fadeIn ease 0.35s;
    -moz-animation: fadeIn ease 0.35s;
    -o-animation: fadeIn ease 0.35s;
    -ms-animation: fadeIn ease 0.35s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

h3 {
    font-family: "DINPro-Bold", Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
}

p {
    font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.45rem;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .products-underlay {
        #products {
            max-width: 75%;
            .products-container {
                .products-title {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 449px) {
    h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h5 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    p {
        font-size: 1rem;
        line-height: 1rem;
    }
}
