<div class="products-underlay fade-in" *ngIf="isOpen" (click)="closeProfile()"></div>
<div class="content-container" *ngIf="isOpen">
  <div id="products" class="section dark-brown-bg pull-up">
    <button class="close-button" (click)="closeProfile()">X</button>
    <!-- <div class="products-container"> -->
      <h5 class="products-title yellow-fg">{{ 'PRODUCTS.TITLE' | translate }}</h5>

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM1' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE1' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC1' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM2' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE2' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC2' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM3' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE3' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC3' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM4' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE4' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC4' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM5' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE5' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC5' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

      <div class="item-container">
        <p class="products-text yellow-fg">{{ 'PRODUCTS.MMS' | translate }}<sup class="copywrite-symbol">{{ 'COPYWRITE' | translate }}</sup>&nbsp;{{ 'PRODUCTS.ITEM6' | translate }}&nbsp;</p>
        <div class="inner-row">
          <p class="products-text">{{ 'PRODUCTS.SIZE' | translate }}&nbsp;{{ 'PRODUCTS.SIZE6' | translate }}</p>
          <p class="products-text"> {{ 'PRODUCTS.UPC' | translate }}&nbsp;{{ 'PRODUCTS.UPC6' | translate }}</p>
        </div>
      </div>

      <hr class="white-line">

    <!-- </div> -->
  </div>
</div>
