<div class="toast-container">
  <div (click)="removeToast(toast.id)" [id]="'toast-'+toast.id" *ngFor="let toast of toasts">
    <div class="toast slide-in">
      <i [class]="toast.icon" [style]="'color: '+toast.color"></i>
      <p>{{ toast.msg }}</p>
    </div>
  </div>
</div>
