@import '../../assets/scss/vars';
@import '../../styles.scss';

.profile-underlay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .close-button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        font-size: 30px;
        font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
        background: white;
        cursor: pointer;
    }

    #profile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 65%;
        min-width: 250px;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        position: fixed;
        z-index: 99;
        top: 5%;
        padding: 0 20px;
        border: 2px solid white;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

        .profile-container {
            margin: 10px;

            .profile-title {
                text-align: center;
                margin: 2% 0;
            }

            .profile-text {
                margin-bottom: 8px;
                margin: 1.5% 0;
            }

            .npe-container {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 8px;
            }

            .npe-container > div {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 22px;
                background: #2e9138;
                width: 320px;
            }

            .npe-container > div > h5 {
                font-size: 2.2rem;
                line-height: 2.2rem;
                text-align: center;
            }

            .npe-container > div > p {
                font-size: 5.8rem;
                line-height: 5.8rem;
                letter-spacing: 6px;
                text-align: center;
            }

            .receipt-status {
                margin-bottom: 25px;
                font-size: 1.45rem;
                font-weight: 600;
            }

            .profile-details {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 1.4rem;
                margin-bottom: 1.8rem;

                .center-column {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .receipt-count {
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        background-color: #fecf08;
                        color: white;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 76px;
                        font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
                        font-weight: 700;
                    }

                    .receipt-text {
                        margin-top: 5px;
                    }

                    .bgo {
                        width: 100px;
                        height: 100px;
                        background-color: #2e9138;
                        color: white;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 48px;
                    }

                    .bgo.not {
                        background-color: $SnickersRed;
                    }
                }
            }

            .profile-table {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 5px;
            }

            .profile-table-container {
                max-height: 500px;
                overflow-x: auto;

                .profile-table.row {
                    margin-top: 25px;
                }

                .profile-table.row > h5 {
                    font-weight: 300;
                    text-align: center;
                }
            }

            .input-container {
                margin-top: 50px;
            }
        }
    }

    #profile > * {
        text-align: center;
    }
}

.fade-in {
    animation: fadeIn ease 0.35s;
    -webkit-animation: fadeIn ease 0.35s;
    -moz-animation: fadeIn ease 0.35s;
    -o-animation: fadeIn ease 0.35s;
    -ms-animation: fadeIn ease 0.35s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

h3 {
    font-family: "DINPro-Bold", Arial, Helvetica, sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
}

p {
    font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.45rem;
    padding: 0;
    margin: 0;
}

input[type="file"] {
    display: none;
}

input[type="file"] + label {
    color: #582413;
    border: 3px solid #fecf08;
    background-color: #fecf08;
    text-align: center;
    display: block;
    padding: 1rem 0rem;
    line-height: 1;
    cursor: pointer;
    font-family: "DINPro-Semibold", Arial, Helvetica, sans-serif;
}

input[type="file"] + label:hover {
    border: 3px solid #fecf08;
    background-color: #582413;
    color: #fecf08;
}

.upload-button {
    font-size: 2rem;
    min-width: 10rem;
    max-width: 100%;
    width: 100%;
}

label.upload-button {
    margin: 10px 0 20px 0;
}

.ready-text {
    margin: 35px 0 0 0;
}

@media screen and (max-width: 767px) {
    .profile-underlay {
        #profile {
            max-width: 75%;

            .profile-container {
                .profile-title {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 449px) {
    h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h5 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    p {
        font-size: 1rem;
        line-height: 1rem;
    }

    .upload-button {
        font-size: 1.5rem;
    }
}
