<div class="profile-underlay fade-in" *ngIf="isOpen" (click)="closeProfile()"></div>
<div class="content-container" *ngIf="isOpen">
  <div id="profile" class="section dark-brown-bg pull-up">
    <button class="close-button" (click)="closeProfile()">X</button>
    <div class="profile-container">
      <h3 class="profile-title yellow-fg">{{ 'PROFILE.TITLE' | translate }}</h3>
      <p class="profile-text">{{ 'PROFILE.SUBTITLE' | translate }}</p>
      <div *ngIf="npePinGenerated" class="npe-container">
        <div>
          <h5>NPE PIN</h5>
          <p>{{ npePin }}</p>
        </div>
      </div>
      <div class="profile-details">
        <div class="center-column">
          <div class="receipt-count">{{ userReceipts.length }}</div>
          <p class="receipt-text">{{ 'PROFILE.RECEIPTS' | translate }}</p>
        </div>
        <div *ngIf="bgoAttempted">
          <div class="center-column" *ngIf="bgo">
            <div class="bgo">
              <i class="fas fa-check"></i>
            </div>
            <p>Receiving the BGO Visa Card Draw</p>
          </div>
          <div class="center-column" *ngIf="!bgo">
            <div class="bgo not">
              <i class="fas fa-times"></i>
            </div>
            <p>You are not eligible for the BGO Visa Card Draw</p>
          </div>
        </div>
      </div>
      <div class="profile-table">
        <h5>{{ 'PROFILE.CODE' | translate }}</h5>
        <h5>{{ 'PROFILE.DATE' | translate }}</h5>
        <h5>{{ 'PROFILE.STATUS' | translate }}</h5>
      </div>
      <div class="profile-table-container">
        <div class="profile-table row" *ngFor="let receipt of userReceipts">
          <h5>{{ receipt.code }}</h5>
          <h5>{{ receipt.dateUploaded.toDate().toLocaleString() }}</h5>
          <h5 [style.color]="colours[receipt.status]">{{ receipt.status }}</h5>
        </div>
      </div>
      <div class="input-container">
        <input type="file" id="receipt" [disabled]="isUploading" name="receipt" (change)="chooseFiles($event)"/>
        <label class="upload-button" for="receipt">{{ 'PROFILE.BUTTON' | translate }}</label>
      </div>
    </div>
  </div>
</div>
