* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s;
}

.modal-container {
  position: fixed;
  z-index: 4;
  transition: all 0.6s;
  width: 569px;
  height: fit-content;
  top: 30px;
  left: 50%;
  margin-left: -284.5px;
  transition: all 0.4s, transform 0.4s;
}

.modal-inner {
  width: 569px;
  background: #fff;
  overflow: hidden;
  padding: 30px 50px 30px 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    .modal-inner {
        width: 90vw;
    }
    .modal-container{
        width: 90vw;
        left: 5vw;
        margin-left: 0;
    }
  }

.hide {
  opacity: 0;
  display: none;
}

.modal-container.hide {
  transform: translateY(65px);
}

.transitioning {
  display: block;
  opacity: 0;
}

.modal-container.transitioning {
  transform: translateY(65px);
}

.show {
  opacity: 1;
  transform: translateY(0px);
}
