//--> VARS
@import "./assets/scss/vars";

//--> FONTS
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

@font-face {
  font-family: "DINPro-Bold";
  src: url("/assets/fonts/DIN-Pro/DINPro-CondBlack.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Semibold";
  src: url("/assets/fonts/DIN-Pro/DINPro-CondensedBold.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Medium";
  src: url("/assets/fonts/DIN-Pro/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Light";
  src: url("/assets/fonts/DIN-Pro/DINPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "DINPro-Thin";
  src: url("/assets/fonts/DIN-Pro/DINPro-Light.otf") format("opentype");
}

//--> GLOBAL STYLES
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  overflow-x: hidden;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'DINPro-Bold', Arial, Helvetica, sans-serif;
}

h3, h4 {
  font-family: 'DINPro-Semibold', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'DINPro-Light', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'DINPro-Semibold', Arial, Helvetica, sans-serif;
}

a {
  font-family: 'DINPro-Medium', Arial, Helvetica, sans-serif;
}

//--> BACKGROUNDS
.yellow-fg {
  color: $Yellow;
}

.yellow-bg {
  background-color: $Yellow;
}

.yellow-accent-fg {
  color: $YellowAccent;
}

.yellow-accent-bg {
  background-color: $YellowAccent;
}

.snickers-blue-fg {
  color: $SnickersBlue;
}

.snickers-blue-bg {
  background-color: $SnickersBlue;
}

.snickers-red-fg {
  color: $SnickersRed;
}

.snickers-red-bg {
  background-color: $SnickersRed;
}

.light-brown-fg {
  color: var(--bg-light-brown);
}

.light-brown-bg {
  background-color: var(--bg-light-brown);
}

.dark-brown-fg {
  color: $BgDarkBrown;
}

.dark-brown-bg {
  background-color: $BgDarkBrown;
}

.white-fg {
  color: white;
}

.white-bg {
  background-color: white;
}

//--> IE BACKGROUNDS
:root {
  --bg-dark-brown: #451a0b;
  --bg-light-brown: #5d351f;
  --yellow: #fbae17;
  --yellow-accent: #f38b13;
  --snickers-blue: #2e3191;
  --snickers-red: #ec1c24;
}

//--> SWIPER STYLE OVERRIDES
.swiper-button-prev {
  border-radius: 100%;
  background-color: $Yellow;
  left: 18% !important;
  width: 3.5vw !important;
  height: 3.5vw !important;
}

.swiper-button-next {
  border-radius: 100%;
  background-color: $Yellow;
  width: 3.5vw !important;
  height: 3.5vw !important;
  right: 18% !important;
}

.swiper-button-prev:after {
  font-size: 2vw !important;
  margin-right: 5px;
  color: $BrownText;
}

.swiper-button-next:after {
  font-size: 2vw !important;
  margin-left: 5px;
  color: $BrownText;
}

@media only screen and (max-width: 767px) {
  .swiper-button-prev {
    background-color: transparent;
    left: 7px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .swiper-button-next {
    background-color: transparent;
    right: 7px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .swiper-button-prev:after {
    font-size: 15px !important;
    margin-right: 5px;
  }

  .swiper-button-next:after {
    font-size: 15px !important;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 449px) {
  .swiper-button-prev {
    left: 1px !important;
  }
  .swiper-button-next {
    right: 1px !important;
  }
}

/*
      ##################################
      #   DOWNLOAD                     #
      ##################################
  */

// .download {
//   background-image: url(/assets/img/download-rules.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: center;
//   padding: 3rem 5rem 3rem 5rem;
//   transition: all 0.3s;
// }

// .download-arrows {
//   font-size: 8rem;
//   line-height: 8rem;
//   font-stretch: ultra-condensed;
// }

// .snickers-bg {
//   background-image: url("/assets/img/snickers-bar.png");
//   background-position: right;
//   background-repeat: no-repeat;
//   background-size: 100%;
// }

// @media only screen and (min-width: 805px) and (max-height: 800px) {
//   .header {
//     min-height: 110vh;
//   }
// }

// @media only screen and (max-width: 400px) and (max-height: 700px) {
//   .header {
//     min-height: 125vh;
//   }
// }

// @media only screen and (max-width: 767px) {
//   .question {
//     margin: 1rem;
//     min-width: 85vw;
//     max-width: 100vw;
//     min-height: 222px;
//     padding: 2rem;
//   }
//   .controls > * {
//     width: 0.5rem;
//     height: 0.5rem;
//     font-size: 1.5rem!important;
//     line-height: 1.5rem;
//   }
//   .prev > div {
//     top: 11px;
//   }

//   .next > div {
//     top: 11px;
//   }
//   .row {
//     margin: 1rem;
//   }
//   .ready-to-play-container {
//     margin-top: 0;
//     margin: 0;
//   }
//   .upload-receipt-text {
//     margin-top: 0 !important;
//   }
//   .ready-to-play {
//     margin: 1rem;
//   }
//   .ready-to-play > h5.yellow-fg {
//     margin-top: 12px;
//   }
//   .icon-feature-container {
//     margin-top: 10px;
//   }
//   .upload-button {
//     font-size: 1.5rem;
//     min-width: 10rem;
//     max-width: 18rem;
//   }
//   label.upload-button {
//     margin-top: 1.3rem;
//   }
// }

// @media only screen and (max-width: 651px) {
//   .download h4 {
//     font-size: 8vw;
//     line-height: 8vw;
//   }
//   .download-arrows {
//     font-size: 8.5vw;
//     font-size: 8.5vw;
//   }
// }

// @media only screen and (max-width: 537px) {
//   .download h4 {
//     font-size: 6vw;
//     line-height: 6vw;
//   }
//   .download-arrows {
//     font-size: 6.5vw;
//     font-size: 6.5vw;
//   }
// }

/*
      ##################################
      #   ANIM                         #
      ##################################
  */

.fade-up {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.fade-up.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float {
  transform: translatey(0px);
  animation: float 1.5s ease-in-out infinite;
}

/*
    ##################################
    #   MODALS                       #
    ##################################
*/

.modal-inner .input {
  border: none;
  background-color: #d4d4d4;
  padding: 22px;
  margin-top: 15px;
  width: 90%;
  font-family: "DINPro-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.modal-inner .logo {
  width: 70%;
  margin: 0rem 1rem 1rem 1rem;
}

.modal-inner .login-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-inner button {
  margin-top: 25px;
  height: 40px;
  font-size: 20px;
}

.modal-inner .sign-up-container {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: "DINPro-Thin", Arial, Helvetica, sans-serif;
}

.form-check-label {
  font-family: "DINPro-Thin", Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-size: 20px;
}

.social-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.modal-inner .social-container > i {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px 15px 10px 20px;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-inner .twitter {
  background-color: #1da1f2;
}

.modal-inner .twitter:hover {
  background-color: #1280c3;
}

.modal-inner .facebook {
  background-color: #4267b2;
}

.modal-inner .facebook:hover {
  background-color: #29447b;
}

.modal-inner .google {
  background-color: #db4437;
}

.modal-inner .google:hover {
  background-color: #922b22;
}

.modal-inner .full-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.modal-inner .full-form > input:first-child {
  margin-right: 10px;
}

.modal-inner .half {
  width: 40%;
}

.modal-inner .form-body {
  max-height: 80vh;
  overflow-y: auto;
}

.logo-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  justify-content: center;
}

.select-fc {
  padding: 22px;
  margin-top: 15px;
  width: 100%;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #d4d4d4 !important;
  outline: none;
  font-family: "DINPro-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(118, 118, 118);
}

.placeholder-col {
  color: rgb(117, 117, 117) !important;
}

select option[data-default] {
  color: #888;
}

.btndisabled {
  opacity: 0.65;
  cursor: not-allowed;
}

input,
select {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 5px #01579b;
  border: 1px solid #01579b;
}

select:focus {
  border: none !important;
}
.disable {
  color: #3b3b3b !important;
  background: #d4d4d4;
}
.disable:hover {
  background: #d4d4d4 !important;
  margin: 25px 0 0 0 !important;
  cursor: default !important;
}

/*
    ##################################
    #   TOASTS                       #
    ##################################
*/

.toast-container {
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
  left: 25px;
  bottom: 25px;
  position: fixed;
}

.toast-container > div {
  margin-top: 15px;
}

.toast {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toast > i {
  color: $SnickersBlue;
  font-family: "Font Awesome 5 Free";
  font-size: 2em;
  margin-right: 10px;
  vertical-align: sub;
}

.toast > p {
  margin: 0;
  margin-left: 15px;
  color: black;
  font-size: 2rem;
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 0.8s;
}

@keyframes slideIn {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation-name: slideOut;
  animation-duration: 0.8s;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-400px);
    opacity: 0;
  }
}

.postal {
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder {
  text-transform: initial;
}

::-moz-placeholder {
  text-transform: initial;
}

:-ms-input-placeholder {
  text-transform: initial;
}

.error-text {
  font-family: "DINPro-Light", Arial, Helvetica, sans-serif;
  color: #ff5050;
  font-size: 1rem;
  margin-left: 23px;
}

.check-div {
  margin-top: 10px;
}

#zero > div > div.row.fade-up.animated > div:nth-child(1) > * {
  transition: all 0.6s;
}
